@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Web ChatBot </h1>
    <iframe src='https://webchat.botframework.com/embed/frtchatbot2-bot?s=00IQgcFTO_k.qtFMZ_v9V1U27YIdv_EKAM3WWB4j69DKq_DaEYy9qGU'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    <br>


</div>
